<div class="row border-bottom"style="margin-bottom: 15px">
    <div class="col-8">
            <h3 style="color: rgb(120, 120, 120); margin-bottom: 4px;">
              {{vaga.titulo}}
            </h3>
            <div>
              <strong>Localidade: </strong>{{vaga.localidade}}
            </div>
            <div>
            <strong>Remuneração: </strong>{{vaga.salario}}
            </div>
        
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-outline-primary">Aplicar</button>
    </div>


</div>